.gallery {
    padding:100px 20px;
    background:#f8f6f3;
}

.gallery .section-title{
    text-align:center;
    margin-bottom:60px;
}

.gallery .section-title span{
    color:#a65a18;
    font-weight:bold;
    letter-spacing:2px;
}

.gallery .section-title h2{
    font-size:46px;
    color:#5d4037;
    margin:15px 0;
}

.gallery .section-title p{
    color:#666;
    max-width:700px;
    margin:auto;
}

.gallery-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);

    gap:20px;
}

.gallery-grid img{

    width:100%;
    height:300px;

    object-fit:cover;

    border-radius:15px;

    transition:.4s;

    cursor:pointer;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.gallery-grid img:hover{

    transform:scale(1.05);

}

@media(max-width:900px){

.gallery-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.gallery-grid{

grid-template-columns:1fr;

}

}