/* ===========================
   HEADER
=========================== */

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 60px;

    background:#000;
    color:#fff;

    box-sizing:border-box;
}

.logo img{
    width:80px;
    display:block;
}

/* ===========================
   NAVIGATION
=========================== */

.nav-links{
    display:flex;
    align-items:center;
    gap:35px;

    list-style:none;
    margin:0;
    padding:0;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    color:#fff;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover{
    color:#D4AF37;
}

/* ===========================
   HAMBURGER
=========================== */

.hamburger{
    display:none;

    width:35px;
    height:28px;

    flex-direction:column;
    justify-content:space-between;

    cursor:pointer;
}

.hamburger span{
    width:100%;
    height:4px;

    background:#D4AF37;

    border-radius:10px;

    transition:.3s;
}

/* Animation */

.hamburger.active span:nth-child(1){
    transform:rotate(45deg) translate(8px,8px);
}

.hamburger.active span:nth-child(2){
    opacity:0;
}

.hamburger.active span:nth-child(3){
    transform:rotate(-45deg) translate(8px,-8px);
}

/* ===========================
   TABLET & MOBILE
=========================== */

@media (max-width:768px){

    .hamburger{
    display:none;
}

@media (max-width:768px){

    .hamburger{
        display:flex;
    }

    .nav-links{
        display:none;

        position:absolute;
        top:100%;
        left:0;

        width:100%;

        background:#000;

        flex-direction:column;

        align-items:center;

        padding:20px 0;

        gap:20px;
    }

    .nav-links.active{
        display:flex;
    }
}
}
