*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
}

header{
    background:#ffffff;
    padding:20px 60px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    color:#6b4226;
    font-size:30px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:30px;
}

nav li{
    cursor:pointer;
    font-weight:bold;
}

nav li:hover{
    color:#b7791f;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
    font-family:Arial, Helvetica, sans-serif;
}